<footer class="footer">
    <div class="container footer__container">

        <div class="footer__col footer__col--logo">
            <a href="./#hero" class="footer__logo logo">NetIQ-Edge</a>
            <p class="footer__tagline">Ваш карьерный апгрейд. Платформа года!</p>
            <p class="footer__copyright">© 2025 NetIQ-Edge. Все права защищены.</p>
        </div>

        <div class="footer__col">
            <h4 class="footer__title">Навигация</h4>
            <ul class="footer__nav">
                <li><a href="./#hero">Главная</a></li>
                <li><a href="./#methodology">Методология</a></li>
                <li><a href="./#cases">Кейсы</a></li>
                <li><a href="./#blog">Блог</a></li>
                <li><a href="./#pricing">Тарифы</a></li>
                <li><a href="./#contact">Связаться</a></li>
            </ul>
        </div>

        <div class="footer__col">
            <h4 class="footer__title">Правовая информация</h4>
            <ul class="footer__nav">
                <li><a href="./privacy.html" >Политика конфиденциальности</a></li>
                <li><a href="./cookies.html">Политика Cookies</a></li>
                <li><a href="./terms.html"> Условия использования</a></li>
                <li><a href="./return.html"> Условия возврата</a></li>
                <li><a href="./disclaimer.html">Отказ от ответственности</a></li>
                <li><a href="./personal-data-policy.html">Политика обработки персональных данных</a></li>
            </ul>
        </div>

        <div class="footer__col">
            <h4 class="footer__title">Контакты</h4>
            <ul class="footer__contacts">
                <li>
                    <i data-lucide="map-pin" class="footer__icon"></i>
                    <address>Kaiserstraße 60, 60329 Frankfurt am Main, Deutschland</address>
                </li>
                <li>
                    <i data-lucide="phone" class="footer__icon"></i>
                    <a href="tel:+49307481593">+49 30 7481 593</a>
                </li>
                <li>
                    <i data-lucide="mail" class="footer__icon"></i>
                    <a href="mailto:insight@netiq-edge.click">insight@netiq-edge.click</a>
                </li>
            </ul>
        </div>

    </div>
</footer>